.stop-watch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    background-color: #000000;
}

.stopwatch-container {
    background-color: rgba(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


.digits {
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}

.mili-sec {
    font-size: 2rem;
    color: #666;
}

@media (max-width: 768px) {
    .digits {
        font-size: 3rem;
    }
    .mili-sec {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .stop-watch {
        padding: 10px;
    }
    .digits {
        font-size: 2rem;
    }
    .mili-sec {
        font-size: 1rem;
    }
}

button {
    padding: 10px 20px;
    font-size: 1.5rem;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

@media (max-width: 480px) {
    button {
        padding: 8px 16px;
        font-size: 1.2rem;
    }
}
